# Args and Kwargs

* Args is argument
* kwargs is keyword argument

In [13]:
def tot(*args):
    print(args)
    print(type(args))

In [14]:
tot()

()
<class 'tuple'>

In [33]:
def total(*args):
    total = 0 #encounder
    
    for item in args:
        total = total + item
    print(total)

In [34]:
total(1,3,4,5,6,7,32,76,2,72,6)

7

In [36]:
t = (1,3,4,5,6,7,32,76,2,72,6)
total = 0

for item in t:
    total = total + item #1 4 
print(total)

214

In [44]:
def total(*args):
    total = 0
    for item in args:
        total = total + item
    print(total)

In [45]:
total(2,3,5)

10

In [41]:
args = (1,2,3,5,3)

total = 0
for item in args:
    total = item + total 
print(total)

14

In [61]:
def divide(*args):
    for items in args:
        divide = int(items / 2)
        print(divide)

In [62]:
divide(4,6,8)

2
3
4

In [69]:
def add(*args):
    total = 0
    for items in args:
        total =total + items
    
    print(total)

In [70]:
add(1,2,3,4,5,6)

21

In [71]:
#To print all the given arguments
def multiply(*args):
    for item in args:
        m = 2 * item
        print(m)

In [72]:
multiply(1,2,3,4,5)

2
4
6
8
10

In [89]:
# To print only the total 
def multiple_of_five(*args):
    for items in args:
        m = 5 * items
        print(m)

In [90]:
multiple_of_five(1,2,3,4,5,6,7,8,9,10)

5
10
15
20
25
30
35
40
45
50

In [103]:
def multiple_of_nine(*args):
    for items in args:
        n = 9 * items
        print(n)

In [95]:
d = (1,2,3,4,5)
type(d)

tuple

In [104]:
multiple_of_nine(1,2,3,4,5)

9
18
27
36
45

In [106]:
multiple_of_nine(d)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [105]:
multiple_of_nine(1,2,3,4,5)

9
18
27
36
45

# Kwargs

In [2]:
def bout(**kwargs):
    print(kwargs)
    print(type(kwargs))

In [4]:
bout()

{}
<class 'dict'>

In [10]:
bout(Yogesh='Teacher', Prajwal='Student')

{'Yogesh': 'Teacher', 'Prajwal': 'Student'}
<class 'dict'>

In [13]:
def clause(**kwargs):
    for key,value in kwargs.items():
        print(f'{key} class maha {value} parxa')

In [16]:
clause(Birds = 'Sparrow' , Fruits = 'Orange', )

Birds class maha Sparrow parxa
Fruits class maha Orange parxa

In [31]:
def chatt(**kwargs):
    for keys,values in kwargs.items():
        print(f'{keys} is {values}')

In [32]:
chatt(Prime_number = '2',)

Prime_number is 2

In [33]:
def uuuu(**yogesh):
    for prajwal,giri in yogesh.items():
        print(f'{giri} belong to {prajwal} group. ')

In [34]:
uuuu(Vegetables = 'Onion')

Onion belong to Vegetables group.

In [35]:
def yyyy(*args):
    for item in args:
        if item > 3:
            print('Yahoo')
        else:
            continue

In [37]:
yyyy(6,7,4,3,2,8,9)

Yahoo
Yahoo
Yahoo
Yahoo
Yahoo

In [40]:
class car:
    def __init__(self,speed,quality,popular,horse_power):
        self.speed = speed
        self.quality = quality
        self.popular = popular
        self.horse_power = horse_power
        
    def suv77(self):
        return self.speed,self.quality
    
    def skoda44(self):
        return self.popular,self.horse_power

In [42]:
a = car(speed = '82km/hr', quality = 'best', popular = 'all over the world', horse_power = 'veryhigh')

In [43]:
a.skoda44()

('all over the world', 'veryhigh')

In [44]:
s,q = a.suv77()

In [45]:
p,h = a.skoda44()

In [46]:
print(f'Suv77 model car have speed of {s} and the car quality is known as the {q} over the world But Skoda44 car is known {p} as well as it have {h} speed. ')

Suv77 model car have speed of 82km/hr and the car quality is known as the best over the world But Skoda44 car is known all over the world as well as it have veryhigh speed.