In [1]:
range(9)

range(0, 9)

In [2]:
list(range(8))

[0, 1, 2, 3, 4, 5, 6, 7]

In [3]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [4]:
set(range(11))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [9]:
import random
random.seed(22.22)
random.randint(1,12)

10

In [14]:
L = [1,2,3,4,5,6,7]
for i in L:
    print(i)

1
2
3
4
5
6
7

In [15]:
r = (1,3,4,5,8,9,10)
for y in r:
    c = y + 2
    print(c)

3
5
6
7
10
11
12

In [17]:
Fruits = ['Apple','Banana','Mango','Peach','Guava','Pineapple']
for items in Fruits:
    print(items)

Apple
Banana
Mango
Peach
Guava
Pineapple

In [18]:
Fruits = ['Apple','Banana','Mango','Peach','Guava','Pineapple']
for index in range(len(Fruits)):
    print(index)

0
1
2
3
4
5

In [20]:
Fruits = ['Apple','Banana','Mango','Peach','Guava','Pineapple']
for index in range(len(Fruits)):
        print(index, Fruits[index])

0 Apple
1 Banana
2 Mango
3 Peach
4 Guava
5 Pineapple

In [21]:
Fruits[1]

'Banana'

In [22]:
Fruits[4]

'Guava'

In [23]:
fruits = ['Apple','Banana','Mango','Peach','Guava','Pineapple']
em = enumerate(fruits)
list(em)

[(0, 'Apple'),
 (1, 'Banana'),
 (2, 'Mango'),
 (3, 'Peach'),
 (4, 'Guava'),
 (5, 'Pineapple')]

In [24]:
fruits = ['Apple','Banana','Mango','Peach','Guava','Pineapple']
for index , value in enumerate(fruits):
    print(index, value)

0 Apple
1 Banana
2 Mango
3 Peach
4 Guava
5 Pineapple

In [25]:
fruits = ['Apple','Banana','Mango','Peach','Guava','Pineapple']
for index, value in enumerate(fruits):
    print(index,value)

0 Apple
1 Banana
2 Mango
3 Peach
4 Guava
5 Pineapple

In [26]:
fruits = ['Apple','Banana','Mango','Peach','Guava','Pineapple']
em = enumerate(fruits)
list(em)

[(0, 'Apple'),
 (1, 'Banana'),
 (2, 'Mango'),
 (3, 'Peach'),
 (4, 'Guava'),
 (5, 'Pineapple')]

In [27]:
fruits = ['Apple','Banana','Mango','Peach','Guava','Pineapple']
for index,value in enumerate(fruits):
    print(index,value)

0 Apple
1 Banana
2 Mango
3 Peach
4 Guava
5 Pineapple

In [28]:
l = [1,2,3,4,5,6]
em = enumerate(l)
list(em)

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6)]

In [30]:
range(1,10,3)
list(range(1,10,3))

[1, 4, 7]

In [35]:
for i in range(1,11):
    a = 5 * i
    print(f'5 * {i} = {a}')

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [36]:
for i in range(1,11):
    a = 11 * i
    print(f'11 * {i} = {a}')

11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

In [40]:
fruits = ['Apple','Banana','Mango','Peach','Guava','Pineapple']
for items in range(len(fruits)):
    print(items,fruits[items])

0 Apple
1 Banana
2 Mango
3 Peach
4 Guava
5 Pineapple

In [44]:
fruits = ['Apple','Banana','Mango','Peach','Guava','Pineapple']
fruits[1:5:1]

['Banana', 'Mango', 'Peach', 'Guava']

In [46]:
fruits = ['Apple','Banana','Mango','Peach','Guava','Pineapple']
for items in range(10):
    print(items,fruits[1:5:1])

0 ['Banana', 'Mango', 'Peach', 'Guava']
1 ['Banana', 'Mango', 'Peach', 'Guava']
2 ['Banana', 'Mango', 'Peach', 'Guava']
3 ['Banana', 'Mango', 'Peach', 'Guava']
4 ['Banana', 'Mango', 'Peach', 'Guava']
5 ['Banana', 'Mango', 'Peach', 'Guava']
6 ['Banana', 'Mango', 'Peach', 'Guava']
7 ['Banana', 'Mango', 'Peach', 'Guava']
8 ['Banana', 'Mango', 'Peach', 'Guava']
9 ['Banana', 'Mango', 'Peach', 'Guava']

In [48]:
fruits = ['Apple','Banana','Mango','Peach','Guava','Pineapple']
n = fruits[1:4]
n
for i in range(len(n)):
    print(i,n[i])

0 Banana
1 Mango
2 Peach

In [55]:
A = ['Cat','Dog','Hen','Horse','Fish']
S = A[:4]
S
for u in range(len(S)):
    print(u, 'maha', S[u], 'parxa')

0 maha Cat parxa
1 maha Dog parxa
2 maha Hen parxa
3 maha Horse parxa

# List ko function lageyara for loop garnae

In [57]:
l = []

for i in range(10):
    l.append(i)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]