In [1]:
def Employee_details(name,gender,age,email):
    return name,gender,age,email

In [2]:
Employee_details('Yogu','Male',22,'yogu@gmail.com')

('Yogu', 'Male', 22, 'yogu@gmail.com')

NameError: name 'gender' is not defined

In [15]:
def dkfj(a,b):
    return a*b,a+b

In [17]:
dkfj(a = 3 , b = 4 )

(12, 7)

In [18]:
def Employee_details(name,age,gender,email):
    return name,age,gender,email

In [32]:
name = input('Enter the employee name:')
age = int(input('Enter the employee age:'))
gender = input('Enter the employee gender')
email = input('Enter the employee email')

print('--------------------------------------------------------')

name_of_employee , age_of_employee , gender_of_employee , email_of_employee = Employee_details(name , age , gender , email)
print('Employee name' ,name_of_employee,'have worked here. His details are:'
       'Age:' , age_of_employee ,
      'Gender:',gender_of_employee,
      'Email:',email_of_employee)

Enter the employee name:Aaaaa
Enter the employee age:33
Enter the employee genderknjkn
Enter the employee emailUYGHJYGI
--------------------------------------------------------
Employee name Aaaaa have worked here. His details are:Age: 33 Gender: knjkn Email: UYGHJYGI

In [20]:
name_of_employee

'Prajwal'

In [33]:
email_of_employee

'UYGHJYGI'

In [48]:
def work(location,father,mother,relationship,contact):
    return location,father,mother,relationship,contact

In [50]:
location1 = input('Enter the location details:')
father1 = input('Enter the father name:')
mother1 = input('Enter the mother name:')
relationship1 = input('Enter the relationship status:')
contact1 = int(input('Enter the contact deails:'))

location_name ,father_name , mother_name , relationship_status , contact_number = work(location,father,mother,relationship,contact)
print(f'I live in {location} my father name is {father} my mother name is{mother} my relationship status is{relationship} you can call me in {contact}')

Enter the location details:hgsfhsd
Enter the father name:shhs
Enter the mother name:sh
Enter the relationship status:shs
Enter the contact deails:5362
I live in Kathmandu my father name is Prajwal my mother name isSita my relationship status isUnmarried you can call me in 9816047587