In [1]:
import pandas as pd

In [2]:
col = ['Name','Surname','Age','Phone_number']
ind = ['a','b','c','d']

a = pd.DataFrame([
                    ['Yogesh','Basnet',23 , 98160],
                    ['Prajwal','Giri',23,98760],
                    ['Devesh','Mandal',23,9999],
                    ['Pravass','Ghatraj',23,888]
                 
                 
                 ], columns = col, index = ind)

In [3]:
print(a)

      Name  Surname  Age  Phone_number
a   Yogesh   Basnet   23         98160
b  Prajwal     Giri   23         98760
c   Devesh   Mandal   23          9999
d  Pravass  Ghatraj   23           888