In [1]:
a = 10
print(a)

10

# Things i study yesterday 
* Data types(Integer,String,Boolean,Float)
* Variable assign
* ID
* print function 
* Formatting 
* List , Slicing

In [2]:
X = True

In [3]:
type(X)

bool

In [4]:
C = 1.555555

In [5]:
id(C)

2169883271184

In [6]:
Yogesh = 22
print('Yogesh')

Yogesh

In [7]:
# Formatting
print('The things Yogesh is saying is ',X)

The things Yogesh is saying is  True

In [8]:
Salary = 500000

In [9]:
print(f'Yogesh is getting salary of {Salary}') #f string

Yogesh is getting salary of 500000

In [10]:
# Indexing and Slicing
Q = ['a','e','i','o','u']

In [11]:
type(Q)

list

In [12]:
Q[:4]

['a', 'e', 'i', 'o']

In [13]:
Q[-4:]

['e', 'i', 'o', 'u']

In [14]:
Q[-5:-2]

['a', 'e', 'i']

In [15]:
P = ['Prithivi','Jaal','Agni','Bayu','Akash']

In [16]:
type(P)

list

In [17]:
P[2]

'Agni'

In [18]:
P[:]

['Prithivi', 'Jaal', 'Agni', 'Bayu', 'Akash']

In [19]:
P[1:3:1] #[start:End:Jump]

['Jaal', 'Agni']

In [20]:
Fruits = ['Apple','Orange','Litchi','Cocunut','Peach','Avocado']

In [21]:
Fruits[2:6:3]

['Litchi', 'Avocado']

# Typecasting

In [22]:
A = 44
B = float(A)
B

44.0

In [23]:
C = "1"
D = float(C)
D

1.0

In [24]:
E = str(D)
E

'1.0'

In [25]:
A = 22
B = 33
A, B = B, A
print(A)
B

33

22

In [26]:
A = 22
B = 33
C = A
A = B
A = C 
print(B)
A

33

22

# List function
* Append , Extend , Sorting , Reverse, Pop ,Clear,Count, Insert, Copy, Remove, Len

In [27]:
# Append
l = [1,2,3,4,5,6,7,8,9,10]
l.append(11)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

# Extend

In [28]:
l = [2,4,6,8,10]
b = [4,6,8]
l.extend(b)
l

[2, 4, 6, 8, 10, 4, 6, 8]

In [29]:
l = [2,1,4]
l.extend([3,3,3,3])
l

[2, 1, 4, 3, 3, 3, 3]

# Sorting

In [30]:
s = [10,2,1,7,3,33,4,5,]
s.sort()
s

[1, 2, 3, 4, 5, 7, 10, 33]

In [31]:
v = [9,3,1,5,66,2,88,1,6,4]
v.sort(reverse = True)
v

[88, 66, 9, 6, 5, 4, 3, 2, 1, 1]

# Reverse

In [32]:
y = [2,4,1,5,6,7,9]
y.reverse()
y

[9, 7, 6, 5, 1, 4, 2]

# Pop

In [33]:
k = [23,1,6,8,10,11,19]
k.pop()
k

[23, 1, 6, 8, 10, 11]

In [34]:
q = [9,2,5,1,7,4]
q.pop(1)
q

[9, 5, 1, 7, 4]

# Clear

In [35]:
g = [5,3,1,7,2,0,10]
g.clear()
g

[]

# Indexing

In [36]:
b = [1,7,2,9,10,11,17,11,15]
b.index(2)

2

In [37]:
f = [2,3,4,2,5,1,6,3]
f.index(3,2,8)

7

# Update, Insert, Copy, Remove

In [38]:
k = [2,1,4,2,6,4,8,2]  # Copy
v = k.copy()
v

[2, 1, 4, 2, 6, 4, 8, 2]

In [39]:
# Insert maha index,value which we want to assign on that particular indexing
F = [3,2,4,5,1,8,9]
f.insert(2,14)
f

[2, 3, 14, 4, 2, 5, 1, 6, 3]

In [40]:
# Update
j = [3,2,1,6,4,8,0]
j[4] = "Apple"
j

[3, 2, 1, 6, 'Apple', 8, 0]

In [41]:
# Remove
h = [4,3,2,6,8,1,8,9]
h.remove(8)
h

[4, 3, 2, 6, 1, 8, 9]

In [42]:
# Append
L = [1,4,2,5,8]
L.append(4)
L

[1, 4, 2, 5, 8, 4]

In [43]:
# Extend
b = [3,2,5]
L.extend(b)
L

[1, 4, 2, 5, 8, 4, 3, 2, 5]

In [44]:
# Sorting
p = [6,2,9,0,1,5]
p.sort()
p

[0, 1, 2, 5, 6, 9]

In [45]:
# Reverse
p.reverse()
p

[9, 6, 5, 2, 1, 0]

In [46]:
# Sorting and reverse in one cell
D = [9,4,2,7,6,1,11,18,14]
D.sort(reverse = True)
D

[18, 14, 11, 9, 7, 6, 4, 2, 1]

In [47]:
# Pop
p = [9,3,2,6,18]
p.pop()
p

[9, 3, 2, 6]

In [48]:
n = [4,2,1,8,7,10,11,16,14]
n.pop(4)
n

[4, 2, 1, 8, 10, 11, 16, 14]

In [49]:
# Update
k = [4,3,7,1,9]
k[2]=8
k

[4, 3, 8, 1, 9]

In [50]:
# Insert
i = [4,2,6,9,10,19,12,18]
i.insert(3,11)
i

[4, 2, 6, 11, 9, 10, 19, 12, 18]

In [51]:
# Remove 
r = [9,2,5,7,1]
r.remove(7)
r

[9, 2, 5, 1]

In [52]:
# Copy 
n = [4,3,2,1]
m = n.copy()
m

[4, 3, 2, 1]

In [53]:
# Indexing
p = [4,3,2,8,1,4,0]
p.index(4)

0

In [54]:
#p.index(4,1,)
len(p)

7

In [55]:
# Count
h = [3,2,1,5,7,9,2]
h.count(2)

2

In [56]:
h.count(h[1])

2

# Tuples

In [57]:
t = (3,2,5,1,8,3,9) # Index
t.index(3)
len(t)

7

In [58]:
t.index(3,1,6)

5

In [59]:
y = (1,2,3,3,3,3,3,3,4,5,6,6,6) # Length
len(y)

13

In [60]:
# Count 
g = (4,3,2,1,7,2,3,4,2)
g.count(2)

3

In [61]:
b = (1,2,1,3,1,4,1,5,1,6,1,1)
b.count(b[4])

7

In [62]:
g = (3,2,1,4,1,5,1,2,3,4,5,6)
b = 3
g.count(b)

2

In [63]:
# Tuples Unpacking
e = (3,2,1)
(A,B,C) = e

In [64]:
A

3

In [65]:
C

1

In [66]:
r = (1,5,2,7,9)
d = list(r)
d
d.append(10)
w = tuple(d)
w

(1, 5, 2, 7, 9, 10)

# Practise

In [67]:
Num = int(input('Enter the number:'))

if Num % 7 ==0:
    print('The number is divisible by 7')
    
else:
    print('The number is not divisible by 7')

Enter the number:89
The number is not divisible by 7

In [68]:
Num = int(input('Enter a number:'))

if Num <= 100:
    price = 0
    print(f'The total bill amount is {price}')
    
elif Num > 100 and Num <= 200:
    price = (Num-100)*5
    print(f'The total bill amount is {price}')
    
else:
    price = (100*5)+(Num-200)*10
    print(f'The total bill amount is {price}')

Enter a number:5647
The total bill amount is 54970

In [69]:
Num = int(input('Enter a number:'))

if Num % 10 == 0:
    print('The last digit will be 0')
    
else:
    Result = Num % 10
    print(Result)

Enter a number:364
4

In [70]:
Num = int(input('Enter a number:'))

rem = Num % 10

if rem % 3 == 0:
    print('The last digit of a number is divisible by 3')
    
else:
    print('The last digit of a number is not divisible by 3')

Enter a number:563
The last digit of a number is divisible by 3

In [71]:
Num = int(input('Enter a number:'))

if Num % 2 == 0:
    print('The enter number is even')
    
else:
    b = 'odd number'
    print(b)

Enter a number:36
The enter number is even

In [72]:
Num = int(input('Enter a number:'))

if Num % 5 == 0:
    print('Hello')
    
else:
    print('Bye')

Enter a number:375
Hello

In [73]:
Num = int(input('Enter a number:'))

if Num % 5 == 0:
    print('Hello')
    
else:
    print('Bye')

Enter a number:375
Hello

In [74]:
Num = int(input('Enter the cost price of bike:'))

if Num > 100000:
    price = (15/100)*Num
    
elif Num > 50000 and Num <= 100000:
    price = (10/100)*Num
    
else:
    price = (5/100)*Num
print(f'The road tax to be paid is {price}')

Enter the cost price of bike:357
The road tax to be paid is 17.85

In [75]:
a = int(input('Enter a first number:'))
b = int(input('Enter a second number:'))
c = a-b


if c % 2 == 0:
    print(f'The difference between two number is even')
    
else:
    print(f'The difference between two number is odd')

Enter a first number:357
Enter a second number:375
The difference between two number is even

In [76]:
a = int(input('Enter the first number:'))
b = int(input('Enter the second number:'))

if a < b:
    print('The first number is smaller')
    
else:
    print('The second number is smaller')

Enter the first number:735
Enter the second number:357
The second number is smaller

In [77]:
l= (1,2,3,3,4,)
len(l)

5

# Arithmetic Operator

 # For loop

In [78]:
veg = ['Carrot','Onion','Brinjal','Pumkpin','Cucumber']
for u in range(len(veg)):
    print(u,veg[u])

0 Carrot
1 Onion
2 Brinjal
3 Pumkpin
4 Cucumber

In [79]:
veg = ['Carrot','Onion','Brinjal','Pumkpin','Cucumber']
em = enumerate(veg)
tuple(em)

((0, 'Carrot'), (1, 'Onion'), (2, 'Brinjal'), (3, 'Pumkpin'), (4, 'Cucumber'))

In [80]:
veg = ['Carrot','Onion','Brinjal','Pumkpin','Cucumber']
for index,value in enumerate(veg):
    print(index,value)

0 Carrot
1 Onion
2 Brinjal
3 Pumkpin
4 Cucumber

In [81]:
L = [2,3,4,1,5,6,7,8,9]
L.append(12)
L

[2, 3, 4, 1, 5, 6, 7, 8, 9, 12]

In [82]:
k = [2,3,4,1,5,6,7,8,9]
k.extend([5,7,4])
k

[2, 3, 4, 1, 5, 6, 7, 8, 9, 5, 7, 4]

In [83]:
p = [2,3,4,1,5,6,7,8,9]
k = [4,3,2,1]
p.extend(k)
p

[2, 3, 4, 1, 5, 6, 7, 8, 9, 4, 3, 2, 1]

In [84]:
L = [2,3,4,1,5,6,7,8,9]
L.sort()
L

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
L = [2,3,4,1,5,6,7,8,9]
L.sort(reverse = True)
L

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [86]:
L = [2,3,4,1,5,6,7,8,9]
L.clear()
L

[]

In [87]:
p = [2,3,4,1,5,6,7,8,9]
# Update 
p[2] = 8
p

[2, 3, 8, 1, 5, 6, 7, 8, 9]

In [88]:
p = [2,3,4,1,5,6,7,8,9]
g = p.copy()
g

[2, 3, 4, 1, 5, 6, 7, 8, 9]

In [89]:
# Insert
p = [2,3,4,1,5,6,7,8,9]
p.insert(1,'a')
p

[2, 'a', 3, 4, 1, 5, 6, 7, 8, 9]

In [90]:
# Index
p = [2,3,4,1,5,6,7,2,8,9]
p.index(2,1,)

7

In [91]:
# pop
p = [2,3,4,1,5,6,7,8,9]
p.pop(1)
p

[2, 4, 1, 5, 6, 7, 8, 9]

In [92]:
d = {'Age':22 , 'Gender':'Male','Height':5.6}
d.keys()

dict_keys(['Age', 'Gender', 'Height'])

In [93]:
d.values()

dict_values([22, 'Male', 5.6])

In [94]:
d.update({'Namae':'Prajwal'})
d

{'Age': 22, 'Gender': 'Male', 'Height': 5.6, 'Namae': 'Prajwal'}

In [95]:
p = (1,2,3,4,5,6,7)
c = list(p)
c
c[2] = 'Tree'
c
p = tuple(c)
p

(1, 2, 'Tree', 4, 5, 6, 7)

In [96]:
Num = int(input('Enter a number:'))

if Num % 7 == 0:
    print('The input number is divisible by 7')
    
else:
    print('The input number is not divisible by 7')

Enter a number:357
The input number is divisible by 7

In [97]:
num = int(input('Enter a number:'))

if Num % 10 == 0:
    print('The last digit of number is 0')
    
else:
    result = Num % 10
    print(result)

Enter a number:357
7

In [98]:

Num = int(input('Enter a number:'))

rem = Num  % 10

if rem  == 0:
    print('The last digit is 0')
    
else:
    print('The last digit is ',rem)
    
if Num > 0:
    a = str(Num)
    print('Your first digit number is ', a[0] )
elif Num < 0:
    a = str(Num)
    print('Your first digit number is ', a[1] )
else:
    print('The first digit number is', Num)

Enter a number:375
The last digit is  5
Your first digit number is  3

In [101]:
a = str(-678)
a

'-678'

In [ ]:
a = str(-7000)
a

In [ ]:
a[1]

In [ ]:
s = 'Ram'
s[0]

In [ ]:
s = '62463'

In [ ]:


def find (num):
    b = str(num)
    for i in b:
        print(b[0])
        break

In [ ]:
type(num)

In [ ]:
x = True

In [ ]:
type(x)

In [ ]:
id(x)

In [ ]:
d = {'fruits':'apple' , 'animal':'dog'}
type(d)

In [ ]:
id(d)

In [ ]:
a = list(d)

In [ ]:
a

In [ ]:
Num = int(input('Enter a number:'))

if Num % 10 == 0:
    print('The last digit of the given number is 0')
    
else:
    result = Num % 10
    print(result)

In [ ]:
b = {'integer': 11 , 'string': 'prajwal'}
type(b)

In [ ]:
b['integer']

In [ ]:
b['string']

In [ ]:
b['Boolean'] = True

In [ ]:

b

In [ ]:
a = [4,3,1,6,8,11,33,9]
a.sort(reverse = True)
a

In [106]:

a = 7**2
print(a)

49

In [109]:
a = int(input('Enter a first number:'))
b = int(input('Enter a second number:'))

result = (a**2) + (2*a*b) + (b**2)
                            
print(result)

Enter a first number:2
Enter a second number:4
36

In [111]:
u = [1,2,3,4,5,8]
u[2] = 'Tree'
u

[1, 2, 'Tree', 4, 5, 8]

In [32]:
def yogesh_jhalla(a,b):
    return a, b         # no. of argument must be equal to no. of parameter

In [33]:
yogesh_jhalla(a= 5,b = 5)

(5, 5)

'[1, 2, 3, 4, 5]'